@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: white) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
}
html {
  height: 100vh;
  margin: 0;
  background-color: rgb(255, 255, 255);
}
